@import '../../../scss/variables';

mat-form-field {
  width: 100%;
}

mat-radio-button {
  margin: 10px 25px 10px 0;
}

mat-checkbox {
  margin-right: 13px;
}

hr {
  border-top: 2px solid rgba(0,0,0,.1);
}

.create {
  margin: 50px 0;

  &__header {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-size: 25pt;
      margin-top: 10px;
    }

    &__divider {
      border-bottom: 3px solid gray;
      display: flex;
      width: 100%;
      opacity: 0.1;
      position: relative;
      top: -16px;
      margin: 0 15px;
    }
  }

  &__title {
    font-weight: bold;
    display: flex;
    width: 100%;
  }

  &__checks {
    margin: 20px 0;
  }

  &__btn {
    margin: 0 10px 0;
  }
}

.save {
  background-color: $primary-color;
  color: #ffffff;
}

.discard {
  background-color: #dbdbdb;
  color: gray;
}
