<div class="container">
<hr />
  <form class="create" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput
                 type="text"
                 formControlName="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput
                 type="text"
                 formControlName="name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput
                 type="text"
                 formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput
                 type="text"
                 formControlName="city"
          />
        </mat-form-field>
        <span class="create__title">
          Ride in group?
        </span>
        <mat-radio-group aria-label="Select an option" formControlName="rideInGroup">
          <mat-radio-button [value]="row.description" *ngFor="let row of rideinGroupEnum">{{row.description}}</mat-radio-button>
        </mat-radio-group>

        <section class="create__checks">
          <mat-checkbox formControlName="sun">Sun</mat-checkbox>
          <mat-checkbox formControlName="mon">Mon</mat-checkbox>
          <mat-checkbox formControlName="tue">Tue</mat-checkbox>
          <mat-checkbox formControlName="wed">Wed</mat-checkbox>
          <mat-checkbox formControlName="thu">Thu</mat-checkbox>
          <mat-checkbox formControlName="fri">Fri</mat-checkbox>
          <mat-checkbox formControlName="sat">Sat</mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit">Save</button>
        <button type="button">Discard</button>
      </div>
    </div>
  </form>

</div>
