@import '../../../scss/variables';

.banner {
  background-color: $secondary-color;

  &__item {
    display: flex;
    flex-direction: row;
    padding: 30px;

    &__icon {
      font-size: 30pt;
      color: $primary-color;
      margin-right: 20px;
    }

    &__text {
      color: $text-banner;

      &:last-child {
        font-weight: bold;
      }
    }
  }
}
