@import '../../../scss/variables';

.banner {
  background-color: $secondary-color;

  &__item {
    display: flex;
    flex-direction: row;
    padding: 30px;

    &__icon {
      font-size: 33pt;
      color: $primary-color;
      margin-right: 20px;
    }

    &__text {
      color: $text-banner;

      p {
        margin: 0;
      }
    }

    &__contrast {
      font-weight: bold;
      font-size: 18pt;

      @media (max-width: 1024px) {
        font-size: 14pt;
      }
    }
  }
}
