<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="list__search">
        <span class="list__search__title">Users</span>
        <span class="list__search__divider"></span>
        <div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Filter table by name</mat-label>
              <fa-icon class="list__search__icon" matPrefix [icon]="faSearch"></fa-icon>
              <input matInput
                     type="text"
                     formControlName="name"
                     (keyup) = "onSubmit()"
              />
              <mat-hint>
                <a (click)="clearFilter()">Clear filter.</a>
              </mat-hint>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="col">
      <button routerLink="/new" class="list__btn-add" mat-raised-button>New user</button>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col">
     <div class="list__table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td class="list__table__contrast" mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td class="list__table__contrast" mat-cell *matCellDef="let row"> {{row.address.city}} </td>
        </ng-container>

        <ng-container matColumnDef="rideInGroup">
          <th mat-header-cell *matHeaderCellDef> Ride in group <th>
          <td mat-cell *matCellDef="let row"> {{row.rideInGroup}}</td>
        </ng-container>

        <ng-container matColumnDef="daysOfWeek">
          <th mat-header-cell *matHeaderCellDef> Day of the week <th>
          <td mat-cell *matCellDef="let row"> {{row.daysOfWeek | daysWeek}}</td>
        </ng-container>

        <ng-container matColumnDef="posts">
          <th mat-header-cell *matHeaderCellDef> Post </th>
          <td class="list__table__contrast" mat-cell *matCellDef="let row">
            <a [routerLink]="['/posts/', row.id]">{{row.posts}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="albums">
          <th mat-header-cell *matHeaderCellDef> Albums </th>
          <td class="list__table__contrast" mat-cell *matCellDef="let row"> {{row.albums}} </td>
        </ng-container>

        <ng-container matColumnDef="photos">
          <th mat-header-cell *matHeaderCellDef> Photos </th>
          <td mat-cell *matCellDef="let row"> {{row.photos}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <fa-icon (click)="deleteUser(row.id)" class="list__table__icon-trash" [icon]="faTrashAlt"></fa-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     </div>
    </div>
  </div>
</div>
